@{
	ViewData["Title"] = "Panel moderatora - Nowe pytania";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section Stylesheets {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
}

@model QuizHouse.Models.ModeratorQuestionsModel

@{
	await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}

<div class="container mb-5">
	<main role="main" class="pb-3">
		<div class="row">
			<div class="row m-3 p-3 border border-secondary border-3 rounded">
				<h5 class="text-center">Nowe pytania</h5>
				<table id="requestTable" class="table-dark table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Waga reportu</th>
							<th>Kategorie</th>
							<th>Akcja</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var request in Model.Questions)
						{
							<tr>
								<td><i role="button" onclick="expandQuestionClick(this)" class="fa fa-lg fa-plus m-2"></i></td>
								<td>@request.Prority</td>
								<td>
									@foreach (var category in request.Categories)
									{
										<div data-category-id="@category"></div>
									}
								</td>
								<td><button type="button" onclick="acceptReport(this.parentElement.parentElement, '@request.Id')" class="btn btn-dark me-2">Akceptuj</button><button type="button" onclick="declineReport(this.parentElement.parentElement,'@request.Id')" class="btn btn-dark me-2">Odrzuć</button></td>
							</tr>
							<tr class="d-none">
								<td colspan="6">
									<div class="text-center">
										<div class="p-2">
											<h4>@request.Text</h4>
										</div>
										<div class="p-3 question-img">
											<img width="250" height="250" src="@request.Image" style="object-fit: contain;" />
										</div>
										<div class="question-table">
											@for (var i = 0; i < 4; i++)
											{
												<div class="row justify-content-center"><button type="button" @(request.CorrectAnswer == i ? "correct" : "wrong")="" class="btn btn-question mb-3" disabled><h5>@request.Answers[i]</h5></button></div>
											}
										</div>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>

@section Scripts {
	<script>
		const getCategoriesUrl = '@Url.Action("GetCategories", "Api")';
		const declineReportUrl = '@Url.Action("DeclineRequest", "Moderator")';
		const acceptReportUrl = '@Url.Action("AcceptRequest", "Moderator")';
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="~/js/common.js"></script>
	<script src="~/js/moderator/reports.js"></script>
}