@{
	ViewData["Title"] = "Panel admina - Pytania";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section Stylesheets {
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
}

@{
	await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}


<div class="container footer-padding mb-5">
	<main role="main" class="pb-3">
		<div class="row">
			<div class="row m-3 p-3">
				<h5 class="text-center">Pytania</h5>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button type="button" onclick="modifyQuestion(true)" class="btn btn-dark m-2">Dodaj pytanie</button>
				</div>
				<table id="questionsTable" class="table table-dark table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Autor</th>
							<th>Kategorie</th>
							<th>Akcja</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th></th>
							<th>Kategoria</th>
							<th></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</main>
</div>

@section Scripts {
	<script>
		const getQuestionsUrl = '@Url.Action("GetQuestions", "Moderator")';
		const deleteQuestionUrl = '@Url.Action("DeleteQuestion", "Moderator")';
		const addQuestionUrl = '@Url.Action("AddQuestion", "Moderator")';
		const editQuestionUrl = '@Url.Action("EditQuestion", "Moderator")';
		const getCategoriesUrl = '@Url.Action("GetCategories", "Api")';
		const userProfileUrl = '@Url.Action("Profile", "Home")';
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/js/common.js"></script>
	<script src="~/js/moderator/common.js"></script>
	<script src="~/js/moderator/questions.js"></script>
}